@import './fonts.css';
@import '../components/pages/home.css';
@import '../components/IconsBar/IconsBar.css';

:root{
    --main-bg-color: #15202B;
    --dark-navy: #343D4E;
    --navy: #7E8CB7;
    --slate: #B0B9D6;
    --light-slate: #CCD0F6;
    --neon-green: #64FFDA;
    --transition-time: .2s;
}

html{
    font-family: Calibri, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--main-bg-color);
}

body{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 850px;
    height: auto;
}

.link{
    color: var(--neon-green);
    text-decoration: none;
}

@media (max-width: 850px) {
    .container{width: 90%;}
}