
.home-subtitle{
    font-size: 36px;
    color: var(--neon-green);
}

.home-title{
    font-size: 72px;
    color: var(--light-slate);
    font-weight: 700;
}

.home-description{
    font-size: 20px;
    max-width: 583px;
    color: var(--navy)
}